!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  
  = partial "partials/head"
  
  %body{ :class => page_classes }

    %div{ :id => "main", :role => "main" }
    
      %header.lead
        %a.home{ :href => "/"}
          %h1 Susy
          %h2 <span>Susy:</span> The Un-obstruive, Responsive Grid for Designers.
    
      %nav
        = partial "partials/navigation"
      
      %section.content.side_content= page_side_content
      
      %section.content.main_content
      
        ~ yield
      
      %footer.ephemera
        = partial "partials/ephemera"
    
    = javascript_include_tag "application.js"
    
    = partial "partials/google_analytics"