!!! 5
%html.no-js{:lang => "en"}

  = partial "partials/head"

  %body{ :id => "susy-oddbird-net", :class => page_classes }

    %div.page

      %header{ :role => "banner" }
        %h1
          %a.home{ :href => "/"} <b>S</b><span>usy</span>
        %h2 Responsive grids for <a href="http://www.compass-style.org/">Compass</a>.

      %nav{ :role => "navigation" }
        = partial "partials/navigation"

      %section{ :role => "main" }

        ~ yield

      -if page_side_content
        %aside.secondary= page_side_content

      %footer{ :role => "contentinfo" }
        = partial "partials/contentinfo"

      %ul.grid-toggle
        %li.on
          %a{ :href => "#susy-oddbird-net" } show grid
        %li.off
          %a{ :href => "#" } hide grid

    = partial "partials/javascripts"
