!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }

    = stylesheet_link_tag "site.css"
    = yield_content :head
  
  %body{ :class => page_classes }
    
    %header.lead
      %a.home{ :href => "/"}
        = partial "partials/logo"
        %h1 Susy
        %h2 <span>Susy:</span> The un-obstruive, responsive grid for designers.

    %div{ :id => "main", :role => "main" }
      %section.nav
        = partial "partials/navigation"
      %section.content
        = yield